# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go toolchain
.cache/

# Dependencies
/vendor/


# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
thumbs.db

# Environment variables
.env

xs
xhshow
